# vscode stuff
.vscode/

# python bytecode
__pycache__/
*.py[cod]

# vim swap files
.*.swp

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks (MacOSX)
.Spotlight-V100
.Trashes
